
body {
  background: #E0E4CC url("../images/dotted_bg.png") repeat-x;
}

#wrapper {
  width: 942px;
  margin: 40px auto -35px auto;
  position: relative;
  padding: 0;
}

#content-area {
  padding: 16px 0 20px 0;
  color: black;
  background-color: white;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  position: relative;
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 80px;
}

#header {padding: 0 40px 0 40px;}

#header #logo {
  margin: -58px 10px 15px -90px;
  float: left;
}

#header .tagline {
  font-family: 'Open Sans', sans-serif;
  font-size: 3em;
  padding: 30px 0 0 0;
  font-weight: bold;
}

#navigation {
/*  position: relative;*/
/*  width: 925px;*/
/*  height: 41px;*/
/*  margin: 0 auto;*/
}

#navigation {
/*  clear: left;*/
/*  font-size: 128.6%;*/
/*  border-top: 1px solid #F2F2F2;*/
/*  margin: 10px 0 0 0;*/
  margin:0;
  padding: 30px 0 10px 0;
  z-index: 10;
  position: relative;
}

#navigation ul {
/*  float: left;*/
/*  width: 660px;*/
  padding-bottom: 10px;
}

#navigation ul {
  list-style: none;
  margin:0;
}

#navigation ul li {
  float: left;
  margin-left: 10px;
}

#navigation ul li a {
  background: #0C2F33;
  color: white;
  text-decoration: none;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  display: block;
  padding: 3px 16px;
  margin-top: 8px;
  font-weight: normal;
  letter-spacing: -1px;
}

#notifications {
/*  height: 50px;*/
}

#content {
/*  padding: 20px;*/
}

#content {
  clear: both;
  padding: 30px 40px 0 40px;
/*  background-image: url(/img/bg-grad.gif);*/
/*  background-repeat: repeat-x;*/
}

.message {
  text-align: center;
  font-size: 1.3em;
}

p.description {
  text-align: center;
  font-size: 2.0em;
  line-height: 30px;
}

.command {
  color: #FA6900;
  font-family: 'Open Sans', sans-serif;
  font-size: 3em;
  text-align: center;
}

#or {
  text-align: left;
  padding-left: 30px;
}

p.description_small {
  text-align: center;
  font-size: 1.5em;
  line-height: 25px;
}

input {
/*  width: 95%;*/
  border-width: 1px;
  border-style: solid;
  border-color: #B4B4B4 #FEFEFE #FEFEFE #B4B4B4;
  background-color: #F0F0F0;
}

#new_cloud input[type="text"], input[type="file"] {
  padding: 11px 5px 11px 8px;
  background-color: #FBFBFB;
  border: 2px solid #dedede;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 400px;
  font-size: 1.5em;
  position: relative;
  z-index: 2;
}

#new_cloud input[type="file"] {
  text-align: center;
}

.button, .button-small, .button-huge {
display: inline-block;
width: auto;
white-space: nowrap;
height: 32px;
margin: 1px 5px 1px 0;
padding: 0 22px;
text-decoration: none;
text-align: center;
font-weight: bold;
font-style: normal;
font-size: 15px;
line-height: 32px;
cursor: pointer;
border: 0;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
color: white !important;
vertical-align: top;
letter-spacing: 0.3px;
-webkit-transition: opacity .2s;
border-top: 1px solid rgba(255, 255, 255, 0.5);
background: url("../images/btn_overlay.png") repeat-x 0 50%;
background-color: #46BCD2;
-webkit-box-shadow: 0px 1px 0 #006577, 0px -1px 0 #006577;
-moz-box-shadow: 0px 1px 0 #006577, 0px -1px 0 #006577;
box-shadow: 0px 1px 0 #006577, 0px -1px 0 #006577;
text-shadow: none;
}

#new_cloud input[type="submit"] {
color: white !important;
border-top: 1px solid rgba(255, 255, 255, 0.5) !important;
text-shadow: none;
background-color: #FA6900;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0px 1px 0 #a9422e, 0px -1px 0 #a9422e;
-moz-box-shadow: 0px 1px 0 #a9422e, 0px -1px 0 #a9422e;
box-shadow: 0px 1px 0 #a9422e, 0px -1px 0 #a9422e;
width: auto !important;
height: auto !important;
padding: 15px 60px !important;
line-height: 16px;
font-weight: normal;
text-transform: capitalize;
margin: 25px 0 15px 0;
display: block;
font-size: 16px;
}

#wordcloudy_notes {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: white;
  border: 2px solid #dedede;
  width: 228px;
  color: #4e4e4e;
  margin: 50px 0;
  padding: 15px;
}

#wordcloudy_notes h3 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-style: normal;
  color: #F38630;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 3px 0 10px;
}

#footer {
  height: 20px;
}


#cloud_preview img {
  border-right: #444444 2px solid;
  border-bottom: #444444 2px solid;
}

#cloud_preview_loading {
  width: 400px;
  height: 400px;
  background-color: #e3e3e3;
}