<h1>Our Favorite Word Clouds</h1>

<table id="favorites">
<% @clouds.each_slice(3) do |cloud_slice| %>
  <tr>
    <% cloud_slice.each do |cloud| %>
    <td><%= link_to image_tag(cloud.preview_thumb_url), cloud %></td>
    <% end %>
  </tr>
<% end %>
</table>

<%= link_to 'Create Your Own Word Cloud', new_cloud_path, :class => 'button-small' %>
