
<p class="description">Making a new word cloud is quick and easy with WordCloudy.</p> 

<h3 class="command">Get Started Now!</h3>

<p class="description_small">Upload a document or paste in a webpage link and WordCloudy will do the rest.</p>
<div class="container">
  <div class="prepend-1 span-10">
    <div id="wordcloudy_form">
      <%= render 'form' %>
    </div>    
  </div>
  <div id="wordcloudy_notes" class="span-6 last">
    <p>WordCloudy Understands:</p>
    <ul>
      <li>Text Files (.txt)</li>
      <li>Web pages (.html)</li>
      <li>PDF Documents (.pdf)</li>
    </ul>  
  </div>
  
</div>


