<h1>WordCloudy</h1>
<h2>Word Clouds As Art</h2>


<p>Making a new word cloud is quick and easy with WordCloudy. Upload a document or paste in a website and WordCloudy will do the rest.</p>

<p>WordCloudy can read:</p>
<ul>
  <li>Text Files (.txt)</li>
  <li>Web pages (.html)</li>
  <li>PDF Documents (.pdf)</li>
</ul>


<%= render 'form' %>

